
.highlight {
  color: #555;
  background-color: #f0f0f0;
}
.highlight .bp {
  color: #00bdff;
}
.highlight .c, .highlight .c1, .highlight .cm, .highlight .cs {
  color: #ADADAD;
}
.highlight .cp {
  color: #808080;
}
.highlight .err {
  color: #F93232;
  background-color: #F9F2CE;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .ge {
  color: #555;
  background-color: #e6e6e6;
}
.highlight .gh {
  color: #333333;
}
.highlight .gi {
  color: #000;
  background-color: #DDFFDD;
}
.highlight .go {
  color: #7F7F7F;
}
.highlight .gp {
  color: #555;
}
.highlight .gr {
  color: #F93232;
}
.highlight .gs {
  background-color: #fff;
}
.highlight .gt {
  color: #F93232;
}
.highlight .gu {
  color: #000;
}
.highlight .hll {
  background-color: #FFE792;
}
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp, .highlight .kr {
  color: #61862F;
}
.highlight .kc {
  color: #7653C1;
}
.highlight .kt {
  color: #6700B9;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo, .highlight .il {
  color: #7653C1;
}
.highlight .n {
  color: #555;
}
.highlight .na {
  color: #91accf;
}
.highlight .nb {
  color: #626FC9;
}
.highlight .nc {
  color: #3A77BF;
}
.highlight .nd {
  color: #808080;
}
.highlight .nf {
  color: #61862F;
}
.highlight .ni {
  color: #6d98cf;
}
.highlight .nn {
  color: #3A1D72;
  text-decoration: underline;
}
.highlight .no {
  color: #7653C1;
}
.highlight .nt {
  color: #4C8FC7;
}
.highlight .o {
  color: #000;
}
.highlight .ow {
  color: #626FC9;
}
.highlight .s, .highlight .s1, .highlight .s2, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .se, .highlight .sh, .highlight .si, .highlight .sx {
  color: #BC670F;
}
.highlight .sr {
  color: #699D36;
}
.highlight .ss {
  color: #00bdff;
}
.highlight .v, .highlight .nv, .highlight .nx, .highlight .vg, .highlight .vi {
  color: #4C8FC7;
}
.highlight .vc {
  color: #3A1D72;
}
.highlight .w {
  color: #E0E0E0;
}
